body {
  font: 15px/21px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0 auto 50px auto;
  max-width: 550px;
  color: #070707;
  padding: 25px;
}

header {
  text-align: center;
}

header a {
  color: #808080;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

a:hover,
.notes a:hover {
  color: #070707;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 5px;
}

h1 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

img {
  width: 500px;
  max-width: 100%;
}

p > a {
  color: inherit;
}

footer {
  margin-top: 20px;
  text-transform: lowercase;
}

i {
  color: #ccc;
  font-size: 20px;
  display: inline-block;
}

.follow {
  margin-bottom: 20px;
}

.links {
  line-height: 10px;
}

.date {
  font-size: 12px;
  color: #fdfdfd;
  text-transform: lowercase;
  letter-spacing: -1px;
  border-bottom: 1px solid #e5e5e5;
  text-align: right;
  margin: 25px 0;
}

.notes a {
  color: #808080;
}

.notes a,
p > a {
  text-decoration: underline;
}

.nav a {
  color: #070707;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.nav a:hover {
  color: #808080;
  text-decoration: underline;
}

.social > div {
  float: left;
  width: 50%;
}

.icons {
  text-align: right;
}

.icons i {
  margin: 0 2px;
}

.nav > div {
  float: left;
  width: 46%;
}
